.slideimg {
  height: calc(100vh - 50px - $spacer);
  overflow: hidden;
}

.oversize {
  width: auto;
  height: calc(100vh - 50px - $spacer);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, .4);
    left: 0;
}

.totalWrapper {
  height: 100%;
}
