.slideimg {
  height: 100vh;
  overflow: auto;
}

.oversize {
  width: 100%;
  height: auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, .4);
    left: 0;
}

.container-slideshow {
  margin-top: 15px;
}
