.slideimg {
  height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  overflow: hidden;
  position: relative;
}

.slideimg img {
  max-height:100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, .6);
    left: 0;
}
